<div class="hero-unit">
	<h1>Welcome to Whojam</h1>
	<p>
		Whojam allows musicians to create music collaboratively.<br>
		Discover our blog : <%= link_to "whojamlive", "http://www.whojamlive.com" %>
	</p>
	<p>
		<%= link_to "Sign up now", "#", class: "btn btn-primary btn-large" %></a>
	</p>
</div>