<% if user_signed_in? %>
	<h1>You're logged in!</h1>
<% else %>
	<div class="hero-unit">
		<h1>Welcome to Whojam</h1>
		<p>
			Whojam allows musicians to create music collaboratively.<br>
			Discover our blog : <%= link_to "whojamlive", "http://www.whojamlive.com" %>
		</p>
		<p>
			<%= link_to "Sign up now", new_user_registration_path, class: "btn btn-primary btn-large" %></a>
		</p>
	</div>
<% end %>