/*$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/

$btnPrimaryBackground: blue;
$navbarBackgroundHighlight: #232524;
$navbarBackground: #232524;

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

/* enlève l'ombre sous la navbar */
/*.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}
*/

.footer {

	margin-top: 60px;
	color: $gray;
	a {
		color: $gray;
	}
}
